#skills {
	padding-top: 10vw;
	padding-bottom: 10vw;
}

#skills h2 {
	text-align: center;
}

#skills .sectionwrapper {
	display: flex;
	grid-gap: 20px;
	padding: 5px;
	overflow-x: scroll;
	margin-bottom: 20px;
}

figure {
	flex-grow: 1;
	flex-basis: 30%;
	flex-shrink: 0;

}

#skills .sectionwrapper figure {
	background-color: #e6d9bc;
	border-radius: 15px;
	padding: 10px;

}

#skills .sectionwrapper p {
	font-size: 1em;
	padding: 10px;
	background-color: rgba(225, 225, 225, 0.5);
	border-radius: 10px;
}

#skills figure img {
	width: 15vw;
	height: 18vw;
	padding-bottom: 10px;
	padding-left: 35px;

}

/*Section om Jose*/

#om_jose {
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: 1fr;
	grid-gap: 5px;
	margin-top: 20rem;
}

#om_jose h2 {
	padding-left: 0;
}

#jose_profil {
	transform: scaleX(-1);
	grid-column-start: 1;
	grid-column-end: 2;
	margin-top: -12vw;
}

#teskt {
	grid-column-start: 2;
	grid-column-end: 3;
	padding-left: 2px;
}

.box2 {
	position: absolute;
	background-color: rgba(221, 190, 161);
	width: 70%;
	height: 10%;
	padding: 30px;
	z-index: -1;
	margin-top: 20rem;
	margin-left: 5rem;
}

#beskrivelse {
	top: 0;
}

#beskrivelse .oppe {
	padding-bottom: -10px;
}

#beskrivelse p {
	padding-bottom: 10px;
}

#beskrivelse .nedeh {
	text-align: center;
	padding: 20px;

}

@media only screen and (min-width: 600px) {
	#om_jose {
		margin-top: 25rem;
	}

	.box2 {
		margin-top: 25rem;
		width: 80%;
	}
}

@media only screen and (min-width: 800px) {
	figure {
		flex-grow: 1;
		flex-basis: 20%;
		flex-shrink: 0;

	}

	#om_jose {
		margin-top: 27rem;
	}

	#jose_profil img {
		margin-left: 4rem;
	}

	.box2 {
		margin-top: 26rem;
		height: 20%;
	}

	#tekst {
		padding-left: 10px;
	}

	#beskrivelse {
		top: 0;
		padding-bottom: 40px;
	}

	#beskrivelse .nedeh {
		padding-top: 6em;
	}

	footer {}
}
