h2 {
	margin-bottom: 5px;
}

h3 {
	padding-bottom: 5px;
	padding-top: 5px;
}

p {
	margin-bottom: 34px;
}

#oversigt {
	margin-top: 15rem;
	/*		background-color: #f0f0f2;*/
}

.tema {
	padding: 10px;
	margin-bottom: 50px;
}

.teksten {
	margin-bottom: 20px;
}


@media only screen and (min-width: 680px) {}

/*Desktop*/
@media only screen and (min-width: 800px) {
	#start {
		height: 30%;
	}

	#oversigt {
		top: 20rem;
	}

	.tema {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.image {
		grid-column-start: 1;
		grid-column-end: 2;
	}

	.teksten {
		position: relative;
		top: 7vw;
		grid-column-start: 2;
		grid-column-end: 3;
	}

	.image h2 {
		position: relative;
		z-index: 1;
		left: 5vw;
		top: 20vw;
		color: #fff;
		background-color: #c6a375;
		;
		width: 6vw;
		padding: 5px;
	}

	.tema img {
		filter: grayscale(1);
		transform: scale(0.7);
	}

	.tema img:hover {
		filter: grayscale(0);
		transform: scale(0.8);
	}
}
