#start {
	background-image: url(../img/bund.png);
	Background-size: cover;
	Background-position: 25% 10%;
	position: absolute;
	width: 100vw;
	height: 100vw;
	margin-top: -16vw;
	z-index: -1;
}

header {
	margin: 0;
}

h1 {
	margin-top: 30vw;
	position: relative;
	color: #e6d9bc;
	padding: 10px;
}

h2 {
	margin-bottom: 5px;
}

h3 {
	padding-bottom: 5px;
	padding-top: 5px;
}

p {
	margin-bottom: 34px;
}

#oversigt {
	margin-top: 85vw;
	/*	background-color: #f0f0f2;*/
}

#tema {
	padding: 10px;
	margin-bottom: 50px;
}

#beskrivelse {
	margin-bottom: 20px;
}


/*Desktop*/
@media only screen and (min-width: 680px) {
	/*
	#oversigt {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: repeat(4, 1fr);
	}
*/

	#tema {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	#image h2 {
		position: relative;
		z-index: 1;
		left: 5vw;
		top: 20vw;
		color: #fff;
	}

	#tema img {
		filter: grayscale(1);
		transform: scale(0.7);
	}

	#tema img:hover {
		filter: grayscale(0);
		transform: scale(0.8);
	}
}
