.hide {
	visibility: hidden;
}

#temaer {
	position: relative;
	top: 10rem;
}

#temaer .five {
	font-style: oblique;
}



/*Redesign videoer*/
#aurelia {
	position: relative;
	margin-top: 20rem;
}

.skrift2 {
	position: relative;
	margin-bottom: 40px;
}

#aurelia_before {
	position: absolute;
	margin-top: 0rem;
	background-color: rgba(221, 190, 161);
	align-items: center;
}

#aurelia_before h2 {
	position: relative;
	margin-top: -1rem;
	text-align: center;

}

#aurelia_before .video_before {
	display: flex;
	justify-content: center;
}

#aurelia_after {
	position: absolute;
	margin-top: 20rem;
	background-color: rgba(221, 190, 161);
	align-items: center;
}

#aurelia_after h2 {
	position: relative;
	margin-top: -1rem;
	text-align: center;
}


#aurelia_after .video_after {
	display: flex;
	justify-content: center;
}

button {
	display: flex;
	position: relative;
	margin-top: 40rem;
	justify-content: center;
}

.box1 {
	position: absolute;
	background-color: rgba(221, 190, 161);
	width: 90%;
	height: 40%;
	padding: 50px;
	z-index: -1;
	margin-top: 10rem;
}



video {
	width: 90%;
	padding-bottom: 20px;
}

/*Tablet*/
@media only screen and (min-width:600px) {


	video {
		width: 50%;
	}

	/*Desktop*/
	@media only screen and (min-width: 800px) {

		video {
			width: 80%;
		}


		#aurelia .container {
			position: relative;
			margin-top: 2rem;
			display: flex;
			flex-direction: column;
		}

		#aurelia_before {
			padding: 20px;
			margin-left: 100px;
			margin-right: 100px;
			margin-top: 0rem;
			padding-bottom: 50px;
		}

		#aurelia_before h2 {
			margin-top: -3rem;
			font-size: 50px;
			margin-bottom: 2rem;
		}

		#aurelia_before h2:hover {
			transform: scale(2);
		}

		#aurelia_before .video_before {
			display: flex;
			justify-content: center;
		}

		#aurelia_after {
			padding: 20px;
			margin-left: 100px;
			margin-right: 100px;
			margin-top: 0rem;
			padding-bottom: 50px;
		}

		#aurelia_after h2 {
			margin-top: -3rem;
			font-size: 50px;
			margin-bottom: 2rem;
		}

		#aurelia_after h2:hover {
			transform: scale(2);
		}

		#aurelia_after .video_after {
			display: flex;
			justify-content: center;
		}

		button {
			margin-top: 45rem;
		}

		.box1 {
			position: absolute;
			background-color: rgba(221, 190, 161);
			width: 70%;
			height: 40%;
			padding: 50px;
			z-index: -1;
			margin-top: 10rem;
		}

		footer {
			top: 90rem;
		}
	}
