#section_1 {
	background-image: url("../img/tema4.png");
	position: absolute;
	background-size: cover;
	width: 100%;
	height: 50%;
	background-position: 0% 100%;
	filter: grayscale(1);
}

#temaer .four {
	font-style: oblique;
}

#overskrift {
	position: relative;
	top: 13em;
	left: 10px;
}

#assetliste {
	position: relative;
	padding: 10px;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 200px 200px;
	grid-template-rows: auto;
	top: 25em;
	justify-content: center;
}

#assetliste p {
	padding-bottom: 10px;
}

#assetliste img {
	position: relative;
	max-width: 60%;
	margin-bottom: 30px;
}

.mindre img {
	height: 300px;
}

/*TABLET*/
@media only screen and (min-width: 600px) {
	#assetliste {
		grid-template-columns: 200px 200px 200px;
	}
}

/*Desktop*/
@media only screen and (min-width: 800px) {
	#assetliste {
		grid-template-columns: 300px 300px 300px 300px;
	}

	.mindre img {
		height: 450px;
	}
}
