#section_1 {
	background-image: url("../img/leaf.png");
	position: absolute;
	background-size: cover;
}

h1 {
	color: #f0f0f2;
}

#opening {
	position: relative;
	top: 20em;
}

#opening p {
	padding: 20px;
	font-size: 14px;
	;
}



#temaer .two {
	font-style: oblique;
}

#websitet {
	position: relative;
	top: 30em;


}

#video_web {
	display: flex;
	justify-content: center;
	margin-bottom: 10vw;
}

video {
	width: 90%;
}

/*
footer {
	top: 120vw;
}*/
