#section_1 {
	background-image: url("../img/tema4.png");
	position: fixed;
	background-size: cover;
	width: 100%;
	height: 50%;
	background-position: 0% 100%;
	filter: grayscale(1);
}

#temaer .four {
	font-style: oblique;
}
