#section_1 {
	background-image: url("../img/tema2.png");
	position: absolute;
	background-size: cover;
	width: 100%;
	height: 50%;
	filter: grayscale(1);
}

h1 {
	color: #f0f0f2;
}

#temaer .two {
	font-style: oblique;
}

footer {
	top: 120vw;
}
